@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme inline {
  --color-primary: #0076df;
}

:root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  user-select: none;
}

video,
img,
canvas {
  pointer-events: none;
}
